:root {
    --color-background-light: #9999ff;
    --color-background-dark: #8080ff;

    --color-background-1: 19, 38, 57;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.2rem;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: black;
    background-image: linear-gradient(to right, rgba(153, 153, 255, .5), rgba(128, 128, 255,.8)),url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    
}

#title {
    margin-top: 3rem;
    text-align: center;
}

#description {
    text-align: center;
    font-style: italic;
    margin-bottom: 2rem;
}



.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* background-color: rgba(19, 38, 57,0.9); */
    background-color: rgba(var(--color-background-1),.8);
    width: 40rem;
    padding: 2rem 2rem;
    border-radius: .5rem;
    flex: 1;
}


.inputs {
    font-size: inherit;
    margin-bottom: 1.5rem;
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
}

.dropdown {
    width: 30rem;
    position: relative;
    margin-bottom: 1rem;
}

.dropdown-select {

    display: flex;
    justify-content: space-between;
    font-size: inherit;
    padding: 6px;
    border-radius: 7px;
    background-color: #fff;
    /* match input field color */
    color:  #8c8c8c; 
    width: 100%;
    cursor: pointer;
}

.dropdown-icon {
    height: 1.5rem;
    width: 1.5rem;
    
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 7px;
    background-color: #fff;
    color: #8c8c8c;
    padding: .5rem .5rem;
    z-index: 1;
}

.dropdown-list__items > li {    
    font-size: .9rem;
}
.dropdown-list__items > li:hover:not(:first-child) {
    background-color:  #1a8cff;
    color: #fff;
}

.show {
    display: block;
}

.radios {
    margin-bottom: 1.5rem;
}

.improvements {
    margin-bottom: 2rem;
}

#comments {
    width: 100%;
    font-size: inherit;
}

#submit {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem 1rem;
    color: #fff;
    background-color: #00b300;
    font-size: 1rem;
    border-radius: 7px;
}